{% extends 'tem/nave.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Media ADM</title>
    <link rel="stylesheet" href="{% static 'your_css_file.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Add Media </h2>
        <form method="POST"action="{% url 'media_add_adm' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="about_content"> title:</label><br>
                <textarea name="title" class="form-control" id="title" cols="45" rows="3"  required></textarea><br>
                
                <label for="about_content"> Content:</label><br>
                <textarea name="content" class="form-control" id="title" cols="45" rows="12"  required></textarea>

            </div>
            <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 30px;">
                <!-- Add Button -->
                <button type="submit"
                        style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
                    Add
                </button>
        </form>
    </div>
</body>
</html>
{% endblock %}